########################
# DJANGO CONFIGURATION #
########################

# Allowed hosts
DJANGO_ALLOWED_HOSTS='["zwei.wahlrechner.local"]'
DJANGO_CSRF_TRUSTED_ORIGINS='["http://zwei.wahlrechner.local"]'


##########################
# DATABASE CONFIGURATION #
##########################

MYSQL_HOST=wahlrechner-zwei-db
MYSQL_DATABASE=wahlrechner


#############################
# WAHLRECHNER CONFIGURATION #
#############################

WAHLRECHNER_NAME=Wahlrechner Zwei
WAHLRECHNER_TITLE=Beispielwahl 2025
WAHLRECHNER_THEME=theme_default
WAHLRECHNER_CACHING=0