########################
# DJANGO CONFIGURATION #
########################

# Allowed hosts
DJANGO_ALLOWED_HOSTS='["eins.wahlrechner.local"]'
DJANGO_CSRF_TRUSTED_ORIGINS='["http://eins.wahlrechner.local"]'


##########################
# DATABASE CONFIGURATION #
##########################

MYSQL_HOST=wahlrechner-eins-db
MYSQL_DATABASE=wahlrechner


#############################
# WAHLRECHNER CONFIGURATION #
#############################

WAHLRECHNER_NAME=Wahlrechner Eins
WAHLRECHNER_TITLE=Beispielwahl 2025
WAHLRECHNER_THEME=theme_default
WAHLRECHNER_CACHING=0